@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

/*variáveis css*/
:root{
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover:#272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif ;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 3% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria) ;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.container__h2{
    font-weight: 400;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

.container__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: var(--fonte-secundaria);
    font-weight: bold;
    width: 50%;
    border-radius: 16px;
    text-align: center;
    font-size: 1.5rem;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
}

.container__link:hover{
    background-color: var(--cor-hover);
    width: 65%;
}

.container__conteudo {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 40px;
}

.container__conteudo_about{
    display: flex;
    width: 615px;
    flex-direction: column;
    gap: 50px;
    margin-right: 7%;
}

.container__titulo {
    font-size: 1.7rem;
    font-family: var(--fonte-primaria);
}

.container__texto {
    font-size: 1.1rem;
    font-family: var(--fonte-secundaria);
}

.container {
    padding: 6% 15%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 82px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.rodape{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
}

.container__img{
    width: 50%;
}


@media (max-width: 1200px) {
   
    .cabecalho{
        padding: 8%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .container{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .container__conteudo{
        width: auto;
    }
   
}